# This file is an example. Use .env.docker for some testnet values, or create a
# .env.local with values of your choice.

# Testnet
# ALIAS=my_node_alias
# NETWORK=testnet
# BACKEND=btcd       # bitcoin process type
# RPCHOST=btcd       # container name from docker-compose
# RPCUSER=devuser
# RPCPASS=devpass
# DEBUG_LEVEL=debug
# NOSEEDBACKUP=true  # Start without a seed phrase - NEVER USE IN PROD